* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain; /*It says keep the aspect ratio of instagram contained as we dont want to stretch it*/
}
.app__signup {
  display: flex;
  flex-direction: column;
}
